<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <%- include('./partials/navbar'); %>
  <div class="container">
    <h1>My Debts</h1>

    <form method="post">
      <div class="mb-3">
        <label for="amount">Amount:</label>
        <input class="form-control" id="amount" type="number" name="amount" required/>
        <label for="currency">Currency</label>
        <input class="form-control" id="currency" type="text" name="currency" value="<%= currency %>" required minlength="3" maxlength="3"/>
        <label for="name">Comment</label>
        <input class="form-control" id="name" type="text" name="name" placeholder="For taxi" required/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <% if (error) { %>
     <%- include('./partials/error') %>
    <% } %>

    <% if (showingAllDebts) { %>
      <a href="/debts">Show only pending debts</a>
    <% } else { %>
      <a href="/debts?all=1">Show all debts</a>
    <% } %>

    <ul class="list-group">
      <% debts.forEach((debt) => { %>
      <%- include('./partials/debt', {debt: debt}); %>
      <% }) %>
    </ul>
  </div>
</body>

</html>